<h3 class="text-primary"><span class="fa fa-facebook">
            </span> Webhook</h3>

<form action="/<%=user._id%>/savemessage" method="post" class="form-inline">
    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-book fa-fw"></i></span>
        <input class="form-control" type="text" placeholder="Received Message" name="keyword">
    </div>
    <div class="input-group margin-bottom-sm-20">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input class="form-control" type="text" placeholder="Reply Message" name="reply">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
    <% if (msgerr.length > 0) { %>
        <div class="alert alert-danger">
            <%= msgerr %>
        </div>
        <% } %>
</form>

<table class="table table-bordered">
    <p>
        <tr>
            <th>Keyword</th>
            <th>Reply</th>
            <th></th>
        </tr>
        <% if (user.facebook.message[0]) { %>
            <% for (var i = 0; i < user.facebook.message.length; i++) { %>
                <tr>
                    <td>
                        <%= user.facebook.message[i].received %>
                    </td>
                    <td>
                        <%= user.facebook.message[i].send %>
                    </td>
                    <td>
                        <% if (user.facebook.message[i]) { %>
                            <a href='/<%=user._id%>/removemessage/<%=i%>' class="btn btn-default btn-xs">Remove</a>
                            <% } %>
                    </td>
                </tr>
                <% } %>
                    <% } %>
    </p>
</table>