<div id="pages-tablinks" class="tab">
    
    <% if (page[0]) { %>
    <% for (var i = 0; i < page.length; i++) { %>
        <button class="tablinks" onclick="openCity(event, '<%= page[i].id %>')"><%= page[i].name %></button>
        <% } %>
    <% } %>
    
    <div id = 'button-addPage' type='button' onclick='getpagelist("<%= user.facebook.id %>")' class="dropbtn">
        <span class="fa fa-plus"></span> Page
        <div class="popup">
            <span class="popuptext" id="myPopup"></span>
        </div>
    </div>
    <button id = 'button-spinner' class="buttonload" style="display: none">
        <a class="fa fa-spinner fa-spin"></a>  Loading
    </button>
    
    <div id="pageslist" class="dropdown-content"></div>
</div>

<div id="pages-tabcontents">
    <% if (page[0]) { %>
        <% for (var i = 0; i < page.length; i++) { %>
            <div id="<%= page[i].id %>" class="tabcontent" style="display: none">
                <span onclick="this.parentElement.style.display='none'" class="topright">x</span>
                <h3><%= page[i].name %></h3>
                <% include ./messages %>
            </div>
            <% } %>
    <% } %>
</div>

<template id="pages-tabcontent-template">
    <div class="tabcontent" style="display: none">
        <span onclick="this.parentElement.style.display='none'" class="topright">x</span>
        <h3 class="page-name"></h3>
        <% include ./messages %>
    </div>
</template>

<template id="pages-tablink-template">
    <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
</template>
