<% if (user.facebook.page[0]) { %>
    <div class="well">
        <h3 class="text-primary"><span class="fa fa-facebook"></span> Pages
            <a href="/<%=user._id%>/disconnect/page" class="btn btn-primary btn-xs">Unlink Page</a></h3>

        <table class="table table-bordered">
            <p>
            <tr>
                <th>Page Name</th>
                <th>ID</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            <% for (var i = 0; i < user.facebook.page.length; i++) { %>
                <tr>
                    <td>
                        <%= user.facebook.page[i].name %>
                    </td>
                    <td>
                        <%= user.facebook.page[i].id %>
                    </td>
                    <td>
                        <%= user.facebook.page[i]._isAppSubscribed %>
                    </td>
                    <td>
                        <% if (user.facebook.page[i]._isAppSubscribed == 'Not Connected') { %>
                            <a href='/<%=user._id%>/activatewebhook/<%=i%>' class="btn btn-default btn-xs">Activate</a>
                            <% } if (user.facebook.page[i]._isAppSubscribed == 'Connected') { %>
                                <a href='/<%=user._id%>/deactivatewebhook/<%=i%>' class="btn btn-default btn-xs">Deactivate</a>
                                <% } %>
                    </td>
                </tr>
                <% } %>
                </p>
        </table>
        <% include ./messages %>

    </div>
    <% } else { %>
        <a href="/<%=user._id%>/connect/page" class="btn btn-primary">Connect Page</a>
        <% } %>